﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Faça o seu registo gratuito agora! </p>
    <p><a asp-action="Registo"> Registar</a></p>
</div>
