﻿@model LabGym_JuroQueEDesta.Models.Utilizador

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Utilizador</h4>
<hr />

    <div class="container" style="width:40%; height :2%">
        <div class="text-center">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    @*label asp-for="Email" class="control-label"></label*@
                    <input asp-for="Email" value="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @*<label asp-for="Passwordd" class="control-label"></label>*@
                    <input asp-for="Passwordd" value="Password" class="form-control" />
                    <span asp-validation-for="Passwordd" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Página Incial</a>
    </div>

 