﻿@model LabGym_JuroQueEDesta.Models.Aulasgrupo

@{
    ViewData["Title"] = "MapaDeAulas";
}

<h1>MapaDeAulas</h1>

<div>
    <h4>Aulasgrupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lotacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lotacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar á Página Inicial</a>
    
</div>
<div>
    <p>Já é membro ? Faça o seu registo <a asp-action="Registo">aqui.</a> </p> 
    
   
</div>
