﻿@{
    ViewData["Title"] = "Contactos";
}
<h1>@ViewData["Title"]</h1>

<div>   </div>

<div> 
    <h4>259555444 - LabGym Receção</h4>
    <h4>259458632 - LabGym Administração</h4>

</div>
<div>
    <p>  Já é membro ? Faça o seu registo  <a asp-action="Registo">aqui.</a></p>
</div>
